#root {
    width: 100vw;
    height: 95vh;
    background: #282A36;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newpost-container{
    display: flex;
    width: 575px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    font-family: Poppins;
}

.new-post-button{
    width: 235px;
    height: 50px;
    background-color: #FFFFFF; 
    color: #6272A4;
    font-family: Poppins;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
}

.new-post-button p{
    padding-top: 3px;
    font-size: 28px;
    text-decoration: none;
}

.modal{
    display: flex;
    flex-direction: column;
    width: 610px;
    height: 600px;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-top: 50px;
}

.close{
    width: 100%;
    display: flex;
    justify-content: end;
    color: #666666;
    font-size: 30px;
    margin: 10px 20px 0 0;
    cursor: pointer;
}

.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content p{
    width: 100%;
    color: #000000;
    display: flex;
    justify-content: center;
    font-family: Poppins;
    font-size: 32px;
}

.subtitle{
    width: 220px;
    height: 50px;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 1px solid #4D4D4D;
    background: #F5F5F5;
}

.upload-image-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 50px;
    cursor: pointer;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 18px;
    border-radius: 5px;
    background: #6272A4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);    
    margin-top: 20px;
}

input[type="file"] {
    display: none;
}

.post-image-container {
    max-width: 220px;
    max-height: 150px;
}

.selected-image{
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;
}

.button-post{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background: #44475A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
}

.image-post-container {
    width: 600px;
    height: 520px;
    background-color: #FFF;
    border-radius: 5px;
    margin-top: 50px;
}
.image-post-container img {
    width: 100%;
    height: 450px;
    border-radius: 4px 4px 0px 0px;
}

.caption{
    display: flex;
    height: 60px;
}

.image-caption {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    color: #000000;
    font-family: Poppins;
    font-size: 18px;
    margin: 0 0 0 10px;
}

.time-post {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    width: 100%;
    color: #000000;
    margin: 0 10px 0 0;
}